<h2>Add User: </h2>
<form [formGroup] = "addform" (ngSubmit) = "sendData()">
  <div>
    <label for="name"></label>
    <input type="text" name="name" id="name" class="form-control" formControlName = "name" placeholder="Name" required>
    <div *ngIf="!addform.controls.name.valid" class="alert alert-danger">
      Please add name
    </div> 
  </div>
  <div>
    <label for="phonenumber"></label>
    <input type="text" name="phonenumber" id="phonenumber" class="form-control" formControlName = "phonenumber" placeholder="Phone-Number" required>
    <div *ngIf="!addform.controls.phonenumber.valid" class="alert alert-danger">
      Please add phone number
    </div> 
  </div>
  <br>
  <input type="submit" value="Add user" class="btn btn-primary" [disabled]="!addform.valid">
</form>